*{
    box-sizing: border-box;
}

table, th, td {
    border: 1px solid black;
    padding: 0px 5px;
    border-collapse: collapse;
}

.section-heading{
    padding: 5px 15px;
    background-color: #e6e6e6;
    display: flex;
    justify-content: space-between;
}

.answer{
    border: 1px solid grey;
    padding: 10px 15px;
    border-radius: 2px;
}

.code-block{
    background-color: #e6e6e6;
    border: 1px solid grey;
    padding: 0px 15px;
    border-radius: 2px;
}

